body{
   font-family: 'Lato', sans-serif;
   margin: 0;
   padding: 0;
   background-color: rgb(228, 205, 148);
}

ul,ol li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color:#2d65ff;
    font-weight: bold;
}

.menu{
    background-color: rgb(223, 170, 121);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu li{
    display: inline;
    padding-left: 55px;
    font-family: 'Nanum Gothic', sans-serif;
}
   
.menu img{
    width: 40px;
    height: 40px;
}

.estilo-imagem{
    border: solid rgb(63, 29, 158) 2px;
    border-radius: 40px;
    size: 10px;
    margin-top: 60px;
}


.banner > h1{
    font-family: 'Great Vibes', cursive;
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
}

.banner > p{
    text-align: center;
    font-family:'Roboto', sans-serif;  
}

.banner{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../imagens/comida.jpg');

}

footer{
    background-color: rgb(114, 129, 29);
}

.container{
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
    flex-wrap: row wrap;
}

.container-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#receita-bolovo{
    margin: 30px;
}

footer > div{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

footer > div > div > ol > li:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}

header > nav > nav > ul > li:nth-child(6){
    font-weight: bold;
}